#nosotros {
    text-align: center;
    padding: 10px;
}

#nosotros h1{
    font-size: 50px;
    color: #1b256a;
    padding-bottom: 20px;
}

#nosotros h2{
    padding-bottom: 20px;
    color: #3b6fda;
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
    line-height: 1.2em;
}